<div class="image-series-box">
	<ng-container *ngIf="series_category">
		<div class="image-series-title"> - {{series_category.name}} - </div>
		<div class="image-series-info">
			<span>
				<i class="fa fa-eye" aria-hidden="true"></i>
				3364
			</span>
			<span>
				<i class="fa fa-star-o" aria-hidden="true"></i>
				992
			</span>
			<span>
				<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
				{{series_category.created_date}}
			</span>
		</div>
		<div class="image-series-desc"> {{series_category.desc}}</div>
		<div class="image-series-content">
			<div id="demo" style="margin: 0 auto; overflow:hidden;">
				<ng-container *ngIf="series_list">
					<ng-container *ngFor="let series of series_list">
						<div class="series-item">
							<a [routerLink]="['/image_list', series.id]" target="_blank">
								<img class="series-item-image" width="{{series.width}}" height="{{series.height}}" src="{{config.resource_url}}/static/{{series.cover_image_url}}">
								<div class="series-info">
									<div class="collect">
										<a href="javascript:;" (click)="collectImageSeries(series.id)">
											<ng-container *ngIf="!series['is_collected']">
												<i id="{{series.id}}"></i>
											</ng-container>
											<ng-container *ngIf="series['is_collected']">
												<i id="{{series.id}}" class="collect-logo-hover"></i>
											</ng-container>
										</a>
									</div>
									<div class="font">
										<h2>{{series.name}}</h2>
										<p>{{series.desc}}</p>
									</div>
								</div>
							</a>
						</div>
					</ng-container>
				</ng-container>
			</div>
		</div>
		<paging [current_page]="page_info.cur_page" [all_page]="page_info.all_page" [all_num]="page_info.count" (selected_page)="getPageNum($event)"></paging>
	</ng-container>
</div>