<div class="slogan-box">
	<div class="slogan-content">
		<div class="slogan-item">
			<span class="slogan-item-title">海量资源</span>
			<span class="slogan-item-content">精选素材，每日更新</span>
		</div>
		<div class="slogan-item">
			<span class="slogan-item-title">免费精品</span>
			<span class="slogan-item-content">精选资源，免费下载</span>
		</div>
		<div class="slogan-item">
			<span class="slogan-item-title">优选专题</span>
			<span class="slogan-item-content">精心挑选，想你所想</span>
		</div>
		<div class="slogan-item">
			<span class="slogan-item-title">急速下载</span>
			<span class="slogan-item-content">满速下载，提升效率</span>
		</div>
	</div>
</div>

<div class="left-navigation-box">
	<ng-container *ngIf="column_list">
		<ng-container *ngFor="let column of column_list">
			<div class="left-navigation-item" id="left_nav_{{column.ranking}}" (click)="go(column.ranking)">{{column.name}}</div>
		</ng-container>
	</ng-container>
	<div class="left-navigation-item" (click)="go('top')"><i class="fa fa-chevron-up"></i>TOP</div>
</div>

<div class="series-box">
	<ng-container *ngIf="column_list">
		<ng-container *ngFor="let column of column_list">
			<div class="series-content" id="guide-{{column.ranking}}">
				<div class="series-title">
					<span>{{column.name}}</span>
					<span class="series-subtitle">
						{{column.sub_title}}
					</span>
					<span class="series-more">
						<a href="#">更多 ></a>
					</span>
				</div>
				<div class="series-item-content">
					<div class="series-item">
						<div class="grid">
							<figure class="effect-apollo">
								<img src="/static/index/img/series_1.jpg">
								<figcaption>
									<h2>精选2018</h2>
									<p>精选2018素材</p>
									<a href="#">更多</a>
								</figcaption>		
							</figure>
						</div>
						<div class="series-item-font">精选2018</div>
					</div>
					<div class="series-item">
						<div class="grid">
							<figure class="effect-apollo">
								<img class="series-item-img" src="/static/index/img/series_2.jpg">
							<figcaption>
									<h2>电商年终促销</h2>
									<p>淘宝电商年终促销素材</p>
									<a href="#">更多</a>
								</figcaption>		
							</figure>
						</div>
						<div class="series-item-font">电商年终促销素材</div>
					</div>
					<div class="series-item">
						<div class="grid">
							<figure class="effect-apollo">
								<img class="series-item-img" src="/static/index/img/series_3.jpg">
							<figcaption>
									<h2>猴年素材</h2>
									<p>猴年素材，一网打尽</p>
									<a href="#">更多</a>
								</figcaption>		
							</figure>
						</div>
						<div class="series-item-font">猴年素材</div>
					</div>
					<div class="series-item">
						<div class="grid">
							<figure class="effect-apollo">
								<img class="series-item-img" src="/static/index/img/series_4.jpg">
							<figcaption>
									<h2>精选2018</h2>
									<p>精选2018素材</p>
									<a href="#">更多</a>
								</figcaption>		
							</figure>
						</div>
						<div class="series-item-font">精选2018素材</div>
					</div>
				</div>
			</div>
		</ng-container>
	</ng-container>
</div>