<div class="image-series-box">
	<ng-container *ngIf="series_category">
		<div class="image-series-title"> - {{series_category.name}} - </div>
		<div class="image-series-content">
			<div id="demo" #demo style="margin: 0 auto; overflow:hidden;">
				<ng-container *ngIf="series_list">
					<ng-container *ngFor="let series of series_list">
						<div class="sitem" #sitem>
							<div class="sitem-box">
								<img class="sitem-img" src="/static/{{series.cover_image_url}}" class="series-item-image" width="{{series.width}}" height="{{series.height}}"/>
								<div class="sitem-info">
									<span class="sitem-info-collect">收藏</span>
									<span class="sitem-info-preview">查看</span>
								</div>
							</div>
						</div>
					</ng-container>
				</ng-container>
			</div>
		</div>
	</ng-container>
</div>