<div class="image-list-box">
	<ng-container *ngIf="image_series">
		<div class="image-list-title"> - {{image_series.name}} - </div>
		<div class="image-list-info">
			<span>
				<i class="fa fa-eye" aria-hidden="true"></i>
				3364
			</span>
			<span>
				<i class="fa fa-star-o" aria-hidden="true"></i>
				992
			</span>
			<span>
				<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
				{{image_series.created_date}}
			</span>
		</div>
		<div class="image-list-desc"> {{image_series.desc}}</div>
		<div class="image-list-content">
			<div id="demo" #demo style="margin: 0 auto; overflow:hidden;">
				<ng-container *ngIf="image_list">
					<ng-container *ngFor="let image of image_list">
						<div class="image-item" #witem data-w="" data-h="" style="height:200px; width:200px;">
							<a [routerLink]="['/image_detail', image.id]">
								<img class="image-item-image" src="{{config.resource_url}}/static/{{image.img_preview_url}}">	
							</a>
							<a [routerLink]="['/image_detail', image.id]">
								<div class="image-item-hover">
									<span class="view">
										<a class="image-item-hover-view" [routerLink]="['/image_detail', image.id]">
											<i class="fa fa-eye"></i> <span style="margin-left:5px;">{{image.view_count}}</span>
										</a>
									</span>
									<span class="download">
										<a class="image-item-hover-download" [routerLink]="['/image_detail', image.id]">
											下载
										</a>
									</span>
								</div>
							</a>
						</div>
					</ng-container>
				</ng-container>
			</div>
		</div>
		<paging [current_page]="page_info.cur_page" [all_page]="page_info.all_page" [all_num]="page_info.count" (selected_page)="getPageNum($event)"></paging>
	</ng-container>
</div>