<div *ngIf="isLoading">
	<loading></loading>
</div>
<div *ngIf="!isLoading">
	<div class="row" *ngIf="dashboard_info">
		<div class="row mtbox">
			<div class="col-md-2 col-sm-2 col-md-offset-1 box0">
				<div class="box1">
					<i class="fa fa-users" style="font-size: 50px;"></i>
					<h3>933</h3>
				</div>
					<p>会员数量</p>
			</div>
			<div class="col-md-2 col-sm-2 box0">
				<div class="box1">
					<i class="fa fa-picture-o" style="font-size: 50px;"></i>
					<h3>{{dashboard_info.all_pic_count}}</h3>
				</div>
					<p>图片数量</p>
			</div>
			<div class="col-md-2 col-sm-2 box0">
				<div class="box1">
					<i class="fa fa-upload" style="font-size: 50px;"></i>
					<h3>{{dashboard_info.upload_pic_count}}</h3>
				</div>
					<p>昨日图片上传数量</p>
			</div>
			<div class="col-md-2 col-sm-2 box0">
				<div class="box1">
					<i class="fa fa-download" style="font-size: 50px;"></i>
					<h3>+10</h3>
				</div>
					<p>昨日图片下载数量</p>
			</div>
			<div class="col-md-2 col-sm-2 box0">
				<div class="box1">
					<i class="fa fa-money" style="font-size: 50px;"></i>
					<h3>9768</h3>
				</div>
					<p>昨日交易金额</p>
			</div>

		</div><!-- /row mt -->
	</div><!-- /row -->
</div>