<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test Angular2</title>
	<base href="/manage/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>
<body>
	<div class="app app ng-scope app-header-fixed app-aside-fixed" id="app" module="{{module}}">
		<manage-index-root><img class="loading" src="{{ url_for('static', filename='images/loading.gif')}}"/></manage-index-root>
	</div>
	
	{% if config.DEBUG %}
	    <script type="text/javascript" src="/static/dist/debug/polyfills.js"></script>
		<script type="text/javascript" src="/static/dist/debug/vendor.js"></script>
		<script type="text/javascript" src="/static/dist/debug/manage_index.js"></script>
    {% else %}
	    <script type="text/javascript" src="/static/dist/prod/polyfills.js"></script>
		<script type="text/javascript" src="/static/dist/prod/vendor.js"></script>
		<script type="text/javascript" src="/static/dist/prod/manage_index.js"></script>
    {% endif %}
</body>
</html>