<div *ngIf="isLoading">
	<loading></loading>
</div>
<div *ngIf="!isLoading">
	<h3>
		<i class="fa fa-angle-right"></i> 会员列表 <span class="sub-title">Customer List</span> 
	</h3>
	<div class="showback">
		<button type="button" class="btn btn-theme" [routerLink]="['detail/add']"><i class="fa fa-plus"></i> <span class="button-name">手动添加 </span></button>
		<button type="button" class="btn btn-theme02" (click)="refresh()"><i class="fa fa-refresh"></i> <span class="button-name">刷新 </span></button>
		<button type="button" class="btn btn-theme04" (click)="del()"><i class="fa fa-trash-o"></i> <span class="button-name">删除 </span></button>
	</div>
	<div class="row mt">
		<div class="col-md-12">
			<div class="content-panel">
				<table class="table table-striped table-advance table-hover">
					<thead>
						<tr>
							<th>
								<input icheck class="all-icheck" type="checkbox">
							</th>
							<th><i class="fa fa-bullhorn"></i> 用户名称 </th>
							<th><i class="hidden-phone"></i> 用户邮箱 </th>
							<th><i class="fa fa-bookmark"></i> 会员权益 </th>
							<th><i class="fa fa-bookmark"></i> 权益生效时间 </th>
							<th><i class="fa fa-bookmark"></i> 生效时长 </th>
							<th><i class="fa fa-bookmark"></i> 注册时间 </th>
							<th><i class="fa fa-bookmark"></i> 操作 </th>
						</tr>
					</thead>
					<tbody *ngIf="customer_list">
						<ng-container *ngIf="customer_list.length">
							<tr *ngFor="let customer of customer_list">
								<td><input icheck class="icheck" name="checked" type="checkbox" value={{customer.id}} ></td>
								<td><a [routerLink]="['detail', customer.id]">{{ customer.name }}</a></td>
								<td>{{ customer.email }}</td>
								<ng-container *ngIf="customer.customer_discount.disocunt_name">
									<td>{{ customer.customer_discount.disocunt_name }}</td>
								</ng-container>
								<ng-container *ngIf="!customer.customer_discount.disocunt_name">
									<td>无</td>
								</ng-container>
								<ng-container *ngIf="customer.customer_discount.effect_start">
									<td>{{ customer.customer_discount.effect_start }}</td>
								</ng-container>
								<ng-container *ngIf="!customer.customer_discount.effect_start">
									<td>无</td>
								</ng-container>
								<ng-container *ngIf="customer.customer_discount.effect_days">
								<td>{{ customer.customer_discount.effect_days }}天</td>
								</ng-container>
								<ng-container *ngIf="!customer.customer_discount.effect_days">
									<td>无</td>
								</ng-container>
								<td>{{ customer.created_date }}</td>
								<td><a [routerLink]="['detail/get_customer_discount', customer.id]">配置权益</a></td>
							</tr>
						</ng-container>
						<ng-container *ngIf="!customer_list.length">
							<tr>
								<td style="text-align: center;" colspan=8>当前还没有会员注册！</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
			</div><!-- /content-panel -->
		</div><!-- /col-md-12 -->
	</div><!-- /row -->
</div>