<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>网站首页</title>
		<link rel="stylesheet" href="/static/index/css/ddfullscreenslider.css">
		<link rel="stylesheet" href="/static/index/css/img-normalize.css" />
		<link rel="stylesheet" href="/static/index/css/img-set.css" />
		<link rel="stylesheet" href="/static/index/css/style.css">
		<link rel="stylesheet" href="/static/index/css/font-awesome.css">
		
		<script src="/static/index/js/jquery-1.11.3.min.js"></script>
		<script src="/static/index/js/jquery.SuperSlide.2.1.1.js"></script>
		<script src="/static/index/js/modernizr.custom.js"></script>
		
	</head>
	<body>
		<index-root>
			<!--Loading 动画-->
			<link rel="stylesheet" href="{{ url_for('static', filename='css/loading_style.css') }}" type="text/css" />
			<script src="{{ url_for('static', filename='js/lib/loading.min.js') }}"></script>
			<div style="text-align:center;clear:both;"></div>
			<div class='loading-base'>
				<div class='cube'></div>
				<div class='cube'></div>
				<div class='cube'></div>
				<div class='cube'></div>
				<div class='cube'></div>
				<div class='cube'></div>
				<div class='cube'></div>
				<div class='cube'></div>
				<div class='cube'></div>
			</div>
		</index-root>

		{% if config.DEBUG %}
			<script type="text/javascript" src="/static/dist/debug/common/polyfills.js"></script>
			<script type="text/javascript" src="/static/dist/debug/common/vendor.js"></script>
			<script type="text/javascript" src="/static/dist/debug/app/index.js"></script>
		{% else %}
			<script type="text/javascript" src="/static/dist/prod/polyfills.js"></script>
			<script type="text/javascript" src="/static/dist/prod/vendor.js"></script>
			<script type="text/javascript" src="/static/dist/prod/index.js"></script>
		{% endif %}

		<script>
			$(function() {
				var header_fix_height = $('.header-content-fix').height();
				get_elem_height = function(index) {
					var h = $('.series-content').eq(index).offset().top - header_fix_height - 1; 
					return h;
				}
				/* 搜索框 */
				window.onscroll = function() {
					var topScroll = $(window).scrollTop();//滚动的距离,距离顶部的距离
					if(topScroll > 180){  
						$(".header-content-fix").show();
					}else{
						$(".header-content-fix").hide();
					}
					if(topScroll < get_elem_height(1) && topScroll > get_elem_height(0)){
						$('#left_nav_1').addClass('left_current').siblings().removeClass("left_current");
						
					}else if(topScroll < get_elem_height(2) && topScroll > get_elem_height(1)){
						$('#left_nav_2').addClass('left_current').siblings().removeClass("left_current");
						
					}else if(topScroll < get_elem_height(3) && topScroll > get_elem_height(2)){
						$('#left_nav_3').addClass('left_current').siblings().removeClass("left_current");
						
					}else if(topScroll > get_elem_height(3)){
						$('#left_nav_4').addClass('left_current').siblings().removeClass("left_current");
					}else{
						$('.left-navigation-item').removeClass("left_current");
					}
				}
				/* 轮播图 */
				$(".banner-box").hover(function(){
					$(".prev,.next").stop(true,false).fadeTo("show",0.8);
				},function(){
					$(".prev,.next").stop(true,false).fadeTo("show",0);
				});
				
				$(".banner-box").slide({
					titCell:".hd ul",
					mainCell:".bd ul",
					effect:"fold",
					interTime:3500,
					delayTime:500,
					autoPlay:true,
					autoPage:true, 
					trigger:"click" 
				});
				
				/* 搜索框 */
				$("#main-search").focus(function(){
					$('#recommond').show();
				});
				$("#main-search").blur(function(){
					$('#recommond').hide();
				});
				
				$("#main-search-fix").focus(function(){
					$('#recommond-fix').show();
				});
				$("#main-search-fix").blur(function(){
					$('#recommond-fix').hide();
				});
				
				/* 导航条 */
				cbpHorizontalMenu.init();
				
				/* 左侧锚点*/
				
				go = function(name){
					if(name == 'top'){
						var top = 0;
					}else{
						var top = $('#guide-' + name).offset().top - 62;
					}
					$('html, body').animate({
						scrollTop: top
					}, 500)
				}
			});
		</script>
		<script src="/static/index/js/cbpHorizontalMenu.min.js"></script>
	</body>
</html>