@charset "utf-8";
/* css 重置 */
body{ background: #f9f9f9;}
body,div,ul,li,dl,dt,dd,h2,p{padding:0;margin:0;font-family:"微软雅黑";}
ul{list-style:none ;}
img{border:none;}
a{blr:expression(this.onFocus=this.blur());outline:none;}

/* 顶部设置 */
.header-content {
	width: 100%;
    min-width: 1240px;
    height: 50px;
    background: #f1f1f1;
    position: relative;
}

.header-info {
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
}

.header-logo {
	float: left;
    overflow: hidden;
}

.logo {
	padding: 14px 0 10px;
    display: inline-block;
    width: 36px;
    height: 36px;
}

.header-logo-span {
	line-height: 50px;
	font-size: 15px;
	color: #666;
	margin-right: 15px;
}

.header-login {
	float: right;
    overflow: hidden;
}

.header-login span {
	line-height: 50px;
	font-size: 15px;
	color: #666;
}

/* 轮播图设置 */
.banner-box{min-width:1200px;height:320px;position:relative;overflow:hidden;}
.banner-box .bd{ width:100% !important;}
.banner-box .bd li .m-width {width:1200px;margin:0 auto;overflow:hidden;}
.banner-box .bd li{width:100% !important;height:320px;}
.banner-box .bd li a{display:block;background-size:auto;}

.banner-btn{width:1200px;position:absolute;top:120px;left:50%;margin-left:-600px;}
.banner-btn a{display:block;width:49px;height:104px;position:absolute;top:0;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.banner-btn a.prev{left:10px;background:url(../img/foot.png) no-repeat 0 0;} 
.banner-btn a.next{right:10px;background:url(../img/foot.png) no-repeat -49px 0;}

.banner-box .hd {position:absolute;top:175px;left:537px;}
.banner-box .hd ul li{width:12px;height:12px;border-radius :50%;text-indent:-9999px;margin-right:20px;border: 1px #fff solid;float:left;cursor:pointer;}
.banner-box .hd ul li.on{background:#fff;}

.search-input {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0 5px 0;
	margin-bottom: 10px;
}

/* 搜索框 */
.input-content {
	text-indent: 10px;
    width: 100%;
    height: 30px;
    outline: 0;
    border: 0;
    line-height: 30px;
    font-size: 15px;
    color: #999;
	position: relative;
	display: inline-block;
}

.input-content::-webkit-input-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content:-moz-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content::-moz-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content:-ms-input-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 

.input-border {
	height: 35px;
    width: 630px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ffbe40;
    border-radius: 4px;
    position: relative;
    padding: 4px 10px 6px 10px;
    background-color: #fff;
}

.input-search-btn {
	display: inline-block;
	position: absolute;
	color: #fff;
	top: -1px;
    right: -1px;
    width: 70px;
    height: 47px;
	margin: 0;
	padding: 0;
	line-height: 47px;
    text-align: center;
	background: #ffbe40;
    border-radius: 0 4px 4px 0;
	cursor: pointer;
    vertical-align: middle;
	font-size: 22px;
}

.input-hot-search {
	position: relative;
	margin: 5px auto;
    color: #888;
	width: 630px;
    height: 30px;
	vertical-align: middle;
    line-height: 30px;
    font-size: 12px;
}

.input-hot-search-div{
	float: left;
}

.input-hot-search span {
	margin-right: 5px;
	font-size: 13px;
}

.input-recommond-search {
	font-size: 14px;
	padding: 5px 10px;
	line-height: 14px;
	color: #888;
    width: 560px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0,0,0,.16);
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.16);
    z-index: 103;
}

.input-recommond-search p {
	margin: 15px 10px;
	overflow: hidden;
}

.input-recommond-search-tag {
	float: left;
}

.input-recommond-search-result {
	color: #aaa;
	font-size: 12px;
	float: right;
}

/* 搜索框（固定） */
.header-content-fix {
	width: 100%;
    min-width: 1240px;
    background: #f5f5f5;
    position: fixed;
	z-index: 200;
	top: 0px;
}

.search-fix {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	padding: 10px 20px;
}

.input-content-fix  {
	text-indent: 10px;
    width: 100%;
    height: 30px;
    outline: 0;
    border: 0;
    line-height: 30px;
    font-size: 15px;
    color: #999;
	position: relative;
	display: inline-block;
}

.input-content-fix ::-webkit-input-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content-fix:-moz-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content-fix ::-moz-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content-fix :-ms-input-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 

.input-border-fix {
	height: 30px;
    width: 530px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ffbe40;
    border-radius: 4px;
    position: relative;
    padding: 4px 10px 6px 10px;
    background-color: #fff;
}

.input-search-btn-fix {
	display: inline-block;
	position: absolute;
	color: #fff;
	top: -1px;
    right: -1px;
    width: 70px;
    height: 42px;
	margin: 0;
	padding: 0;
	line-height: 42px;
    text-align: center;
	background: #ffbe40;
    border-radius: 0 4px 4px 0;
	cursor: pointer;
    vertical-align: middle;
	font-size: 22px;
}

.input-hot-search-fix {
	position: relative;
	margin: 5px auto;
    color: #888;
	width: 630px;
    height: 30px;
	vertical-align: middle;
    line-height: 30px;
    font-size: 12px;
}

.input-hot-search-div-fix{
	float: left;
}

.input-hot-search-fix span {
	margin-right: 5px;
	font-size: 13px;
}

.input-recommond-search-fix {
	font-size: 14px;
	padding: 5px 10px;
	line-height: 14px;
	color: #888;
    width: 460px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0,0,0,.16);
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.16);
    z-index: 303;
}

.input-recommond-search-fix p {
	margin: 15px 10px;
	overflow: hidden;
}

.input-recommond-search-tag-fix {
	float: left;
}

.input-recommond-search-result-fix {
	color: #aaa;
	font-size: 12px;
	float: right;
}

/* 导航 */
.nav-box {
	width: 100%;
	margin: 0 auto;
}

.cbp-hrmenu {
	width: 100%;
	border-bottom: 4px solid #ffbe40;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	width: 70%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1em;
}

.cbp-hrmenu > ul > li {
	display: inline-block;
}

.cbp-hrmenu > ul > li > a {
	font-weight: 700;
	padding: 0.5em 1em;
	font-size: 16px;
	color: #999 !important;
	text-decoration: none !important;
	display: inline-block;
	font-family: "微软雅黑";
}

.cbp-hrmenu > ul > li > a:hover {
	color: #ffbe40 !important;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	font-size: 15px;
	color: #fff !important;
	background: #ffbe40 !important;
	text-decoration: none !important;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: #ffbe40;
	width: 100%;
	left: 0;
	z-index: 111;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 3em;
	z-index: 111;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float: left;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
	color: #fff !important;
}

.cbp-hrsub h4 {
	color: #fff !important;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 120%;
	font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #ffbe40;
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}

/* slogan */
.slogan-box {
	width: 100%;
}

.slogan-content {
	width: 1200px;
	margin: 0 auto;
	padding: 20px 30px;
	text-align: center;
}

.slogan-item {
	width: 20%;
	display: inline-block;
}

.slogan-item-title {
	display: block;
	font-size: 18px;
    line-height: 26px;
    margin-top: 3px;
	color: #535353;
}

.slogan-item-content {
	display: block;
	font-size: 14px;
    line-height: 20px;
    margin-top: 3px;
	color: #828282;
}

/* 系列 */
.series-box {
	margin-top: 10px;
}

.series-box a {
	text-decoration: none;
	color: #828282;
}

.series-content {
	width: 1200px;
	margin: 0 auto;
	background: #fff;
	padding: 30px 30px 0 30px;
}

.series-title {
	color: #828282;
	padding: 10px 0 25px 0;
	font-size: 26px;
	line-height: 26px;
}

.series-more {
	float: right;
	margin-top: 7px;
	font-size: 13px;
	margin-right: 30px;
}

.series-more  a:hover{
	color: #ffbe40;
}

.series-subtitle {
	color: #989898;
	padding: 10px 0 25px 0;
	font-size: 14px;
	line-height: 26px;
	margin-left: 20px;
}

.series-item-content {
	background: #fff;
}

.series-item {
	width: 270px;
	display: inline-block;
	margin-right: 26px;
	margin-bottom: 10px;
	overflow: hidden;
}

.series-item-font {
	font-size: 13px;
	text-align: center;
	padding: 10px 5px;
	color: #555;
}

/* 左侧锚点 */
.left-navigation-box {
	position: fixed;
	left: 2%;
	top: 50%;
	width: 70px;
	box-shadow: 2px 0 3px rgba(0,0,0,0.1);
	background: #fff;
	z-index: 300;
}

.left-navigation-item {
	text-align: center;
	padding: 15px;
	color: #888;
	font-size: 14px;
    cursor: pointer;
}

.left-navigation-item:hover {
	transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
	color: #fff;
	background: #ffbe40;
}

.left_current {
	transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
	color: #fff;
	background: #ffbe40;
}

/* 底部 */
.footer-box {
	border-top: 4px solid #ffbe40;
	background-color: #f1f1f1;
    padding: 50px 0 20px;
	margin-top: 90px;
}

.footer-content {
	width: 65%;
	margin: 0 auto;
	height: 230px;
	border-bottom: 1px solid #ccc;
}

.footer-item-content {
	display: inline-block;
	vertical-align: top;
}

.footer-item-title {
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 14px;
	padding: 5px;
	color: #666;
}

.footer-item-info {
	font-size: 12px;
	padding: 5px;
	color: #666;
}

/* 专题列表页 */
.image-series-box {
	
}

.image-series-title {
	width: 1200px;
	margin: 0 auto;
	font-size: 25px;
	color: #666;
	font-family: 'Microsoft YaHei';
	text-align: center;
	padding: 30px 0;
}

.image-series-content {
	width: 1200px;
	margin: 0 auto;
	padding: 0 30px 20px 30px;
}

.sitem {
	z-index: 1;
    line-height: 1.5;
    background-color: #fff;
	position: relative;
    overflow: hidden;
	float: left !important;
    box-shadow: 0 5px 5px rgba(34, 25, 25, .4);
    -moz-box-shadow: 0 5px 5px rgba(34, 25, 25, .4);
    -webkit-box-shadow: 0 5px 5px rgba(34, 25, 25, .4);
    filter: progid:DXImageTransform.Microsoft.Shadow(color = #adacac, direction = 135, strength = 2);
	margin: 0 15px 45px;
	width: 270px;
	max-height: 400px;
}

.sitem img {
    display: inline;
	width: 100%;
    min-height: 200px;
}

.sitem-info {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #000;
	bottom: 0px;
	font-size: 12px;
	color: #888;
	filter: alpha(Opacity=80);
	-moz-opacity: 80;
	opacity: 80; 
}

.sitem-info-collect {
	position: absolute;
	right: 70px;
	bottom: 20px;
	padding: 10px 5px;
}

.sitem-info-preview {
	position: absolute; 
	right: 20px;
	bottom: 20px;
	padding: 10px 5px;
}