<div *ngIf="isLoading">
	<loading></loading>
</div>
<div *ngIf="!isLoading">
	<h3>
		<i class="fa fa-angle-right"></i> 专题分类列表 <span class="sub-title">ImageSeriesCategory List</span> 
	</h3>
	<div class="showback">
		<button type="button" class="btn btn-theme" [routerLink]="['add']"><i class="fa fa-plus"></i> <span class="button-name">添加 </span></button>
		<button type="button" class="btn btn-theme02" (click)="refresh()"><i class="fa fa-refresh"></i> <span class="button-name">刷新 </span></button>
		<button type="button" class="btn btn-theme04" (click)="del()"><i class="fa fa-trash-o"></i> <span class="button-name">删除 </span></button>
	</div>
	<div class="row mt">
		<div class="col-md-12">
			<div class="content-panel">
				<table class="table table-striped table-advance table-hover">
					<thead>
						<tr>
							<th>
								<input icheck class="all-icheck" type="checkbox">
							</th>
							<th><i class="fa fa-question-circle"></i> 专题分类名称 </th>
							<th><i class="fa fa-question-circle"></i> 专题数量 </th>
							<th><i class="fa fa-question-circle"></i> 创建时间 </th>
							<th><i class="fa fa-question-circle"></i> 修改时间 </th>
							<th><i class="fa fa-bookmark"></i> 操作 </th>
						</tr>
					</thead>
					<tbody *ngIf="image_series_category_list">
						<tr *ngFor="let image_series_category of image_series_category_list">
							<td class="td-center"><input icheck class="icheck" name="checked" type="checkbox" value={{image_series_category.id}} ></td>
							<td class="td-center"><a [routerLink]="['detail', image_series_category.id]">{{ image_series_category.name }}</a></td>
							<td class="td-center">{{ image_series_category.count }}</td>
							<td class="td-center">{{ image_series_category.created_date }}</td>
							<td class="td-center">{{ image_series_category.modified_date }}</td>
							<td class="td-center"><a [routerLink]="['set', image_series_category.id]">编辑专题分类</a></td>
						</tr>
					</tbody>
				</table>
			</div><!-- /content-panel -->
		</div><!-- /col-md-12 -->
	</div><!-- /row -->
</div>