<!--header start-->
<header class="header black-bg">
	  <div class="sidebar-toggle-box">
		  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
	  </div>
	<!--logo start-->
	<a href="index.html" class="logo"><b>后台管理</b> <span style="color: #fff; font-size: 13px;">Content Manage System</span></a>
	<!--logo end-->
	<div style="float: left; margin-top: 20px; margin-left: 50px; font-size: 15px; font-weight: 600;">
		<ng-container *ngFor="let module of module_list">
			<span style="margin-right: 25px;"><a href="javascript:;" (click)="changeModule(module.code)" style="color: #fff;">{{module.name}}</a></span>
		</ng-container>
	</div>
	<div class="right-nav right-notify-row" *ngIf="user">
		<ul class="nav top-user-info">
			<li id="logout" class="dropdown user-info">
				<a data-toggle="dropdown" class="dropdown-toggle user-info-a" href="index.html#">
					<span class="user-info-span">{{ user.name }}</span>
					<i class="fa fa-user"></i>
				</a>
				<ul class="dropdown-menu user-info-left inbox">
					<div class="notify-arrow-green user-info-arrow"></div>
					<div>
						<i class="fa fa-globe"></i>
						<a href="{{ website_url }}" target="blank">查看网站</a>
					</div>
					<div>
						<i class="fa fa-sign-out"></i>
						<a href="javascript:;" class="logout" (click)="logout()">退出</a>
					</div>
				</ul>
			</li>
		</ul>
	</div>
</header>
<!--header end-->