<div class="image-detail-box">
	<ng-container *ngIf="image">
		<div class="image-detail-content">
			<div class="current-position">当前位置：<a href="/">首页</a></div>
			<div class="image-main-content">
				<img src="{{config.resource_url}}/static/{{image.img_preview_url}}">
			</div>
			<div class="image-sider-content">
				<div class="image-operation">
					<a style="display: none;" id="download_png" href=""></a>
					<button class="download-png" (click)="checkImage()">下载PNG</button>
					<button class="download-collect" (click)="collectImage()">收藏</button>
				</div>
				<div class="image-operation-info">
					<span class="image-operation-info-download">下载：{{image.download_count}}</span>
					<span class="image-operation-info-view">查看：{{image.view_count}}</span>
				</div>
			</div>
			
			<div class="image-sider-info">
				<p>图片格式：<span>{{image.format}}</span></p>
				<p>色彩模式：<span>{{image.mode}}</span></p>
				<p>图片尺寸：<span>{{image.width}} * {{image.height}}</span></p>
			</div>
			
			<div class="image-tag-info">
				<p><strong>标签</strong></p>
				<p>
					<ng-container *ngFor="let tag of image_tags">
						<span class="span"><a [routerLink]="['/filter_image_list']" [queryParams]='{search: tag.name}' target='_blank'>{{tag.name}}</a></span>
					</ng-container>
				</p>
			</div>
		</div>
	</ng-container>
</div>