@charset "utf-8";
/* css 重置 */
body{ background: #f9f9f9;}
body,div,ul,li,dl,dt,dd,h2,p{padding:0;margin:0;font-family:"微软雅黑";}
ul{list-style:none ;}
img{border:none;}
a{blr:expression(this.onFocus=this.blur());outline:none !important;text-decoration:none;color:#888;}

/* 顶部设置 */
.header-content {
	width: 100%;
    min-width: 1240px;
    height: 50px;
    background: #f1f1f1;
    position: relative;
}

.header-info {
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	height: 50px;
	line-height: 50px;
}

.header-logo {
	float: left;
	position: relative;
    overflow: hidden;
}

.header-login {
	float: right;
	position: relative;
    overflow: hidden;
}

.login-info {
	width: 50px;
	line-height: 50px;
	position: relative;
	margin-right: 10px;
}

.user-a {
	color: #999;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.user-a:hover {
	color: #00FA9A;
}


/* 轮播图设置 */
.banner-box{min-width:1200px;height:320px;position:relative;overflow:hidden;margin-bottom: 30px;}
.banner-box .bd{ width:100% !important;}
.banner-box .bd li .m-width {width:1200px;margin:0 auto;overflow:hidden;}
.banner-box .bd li{width:100% !important;height:320px;}
.banner-box .bd li a{display:block;background-size:auto;}

.banner-btn{width:1200px;position:absolute;top:120px;left:50%;margin-left:-600px;}
.banner-btn a{display:block;width:49px;height:104px;position:absolute;top:0;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.banner-btn a.prev{left:10px;background:url(../img/foot.png) no-repeat 0 0;} 
.banner-btn a.next{right:10px;background:url(../img/foot.png) no-repeat -49px 0;}

.banner-box .hd {position:absolute;top:175px;left:537px;}
.banner-box .hd ul li{width:12px;height:12px;border-radius :50%;text-indent:-9999px;margin-right:20px;border: 1px #fff solid;float:left;cursor:pointer;}
.banner-box .hd ul li.on{background:#fff;}

.search-input {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0 5px 0;
	margin-bottom: 10px;
}

/* 搜索框 */
.input-content {
	text-indent: 10px;
    width: 100%;
    height: 30px;
    outline: 0;
    border: 0;
    line-height: 30px;
    font-size: 15px;
    color: #999;
	position: relative;
	display: inline-block;
}

.input-content::-webkit-input-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content:-moz-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content::-moz-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content:-ms-input-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 

.input-border {
	height: 35px;
    width: 630px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ffbe40;
    border-radius: 4px;
    position: relative;
    padding: 4px 10px 6px 10px;
    background-color: #fff;
}

.input-search-btn {
	display: inline-block;
	position: absolute;
	color: #fff;
	top: -1px;
    right: -1px;
    width: 70px;
    height: 47px;
	margin: 0;
	padding: 0;
	line-height: 47px;
    text-align: center;
	background: #ffbe40;
    border-radius: 0 4px 4px 0;
	cursor: pointer;
    vertical-align: middle;
	font-size: 22px;
}

.input-hot-search {
	position: relative;
	margin: 5px auto;
    color: #888;
	width: 630px;
    height: 30px;
	vertical-align: middle;
    line-height: 30px;
    font-size: 12px;
}

.input-hot-search-div{
	float: left;
}

.input-hot-search span {
	margin-right: 10px;
	font-size: 13px;
}

.input-recommond-search {
	font-size: 14px;
	line-height: 14px;
	color: #888;
    width: 580px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0,0,0,.16);
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.16);
    z-index: 103;
}

.input-recommond-search .rank {
	padding: 1px 5px;
	background: #ffbe40;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	margin-right: 8px;
}

.input-recommond-search .rank-gray{
	padding: 1px 5px;
	background: #c8c8c8;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	margin-right: 8px;
}

.input-recommond-search a {
	display: block;
	padding: 12px 15px;
	overflow: hidden;
}

.input-recommond-search a:hover {
	background: #f6f6f6;
}

.input-recommond-search-tag {
	float: left;
}

.input-recommond-search-result {
	color: #aaa;
	font-size: 12px;
	float: right;
}

/* 搜索框（固定） */
.header-content-fix {
	width: 100%;
    min-width: 1240px;
    background: #f5f5f5;
    position: fixed;
	z-index: 900;
	top: 0px;
}

.search-fix {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	padding: 10px 20px;
}

.input-content-fix  {
	text-indent: 10px;
    width: 100%;
    height: 30px;
    outline: 0;
    border: 0;
    line-height: 30px;
    font-size: 15px;
    color: #999;
	position: relative;
	display: inline-block;
}

.input-content-fix ::-webkit-input-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content-fix:-moz-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content-fix ::-moz-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 
.input-content-fix :-ms-input-placeholder { 
	color: #bbb; 
	font-family:"微软雅黑";
} 

.input-border-fix {
	height: 30px;
    width: 530px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ffbe40;
    border-radius: 4px;
    position: relative;
    padding: 4px 10px 6px 10px;
    background-color: #fff;
}

.input-search-btn-fix {
	display: inline-block;
	position: absolute;
	color: #fff;
	top: -1px;
    right: -1px;
    width: 70px;
    height: 42px;
	margin: 0;
	padding: 0;
	line-height: 42px;
    text-align: center;
	background: #ffbe40;
    border-radius: 0 4px 4px 0;
	cursor: pointer;
    vertical-align: middle;
	font-size: 22px;
}

.input-hot-search-fix {
	position: relative;
	margin: 5px auto;
    color: #888;
	width: 630px;
    height: 30px;
	vertical-align: middle;
    line-height: 30px;
    font-size: 12px;
}

.input-hot-search-div-fix{
	float: left;
}

.input-hot-search-fix span {
	margin-right: 5px;
	font-size: 13px;
}

.input-recommond-search-fix {
	font-size: 14px;
	line-height: 14px;
	color: #888;
    width: 480px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0,0,0,.16);
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.16);
    z-index: 303;
}

.input-recommond-search-fix a {
	display: block;
	padding: 12px 15px;
	overflow: hidden;
}

.input-recommond-search-fix a:hover {
	background: #f6f6f6;
}

.input-recommond-search-fix .rank {
	padding: 2px 5px;
	background: #ffbe40;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	margin-right: 8px;
}

.input-recommond-search-fix .rank-gray{
	padding: 3px 5px;
	background: #c8c8c8;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	margin-right: 8px;
}

.input-recommond-search-tag-fix {
	float: left;
}

.input-recommond-search-result-fix {
	color: #aaa;
	font-size: 12px;
	float: right;
}

/* 导航 */
.nav-box {
	width: 100%;
	margin: 0 auto;
}

.cbp-hrmenu {
	width: 100%;
	border-bottom: 4px solid #ffbe40;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	width: 70%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1em;
}

.cbp-hrmenu > ul > li {
	display: inline-block;
}

.cbp-hrmenu > ul > li > a {
	font-weight: 700;
	padding: 0.5em 1em;
	font-size: 16px;
	color: #999 !important;
	text-decoration: none !important;
	display: inline-block;
	font-family: "微软雅黑";
}

.cbp-hrmenu > ul > li > a:hover {
	color: #ffbe40 !important;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #fff !important;
	background: #ffbe40 !important;
	text-decoration: none !important;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: #ffbe40;
	width: 100%;
	left: 0;
	z-index: 111;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 3em;
	z-index: 111;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float: left;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
	color: #fff !important;
}

.cbp-hrsub h4 {
	color: #fff !important;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 120%;
	font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #ffbe40;
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}

/* slogan */
.slogan-box {
	width: 100%;
	margin-bottom: 30px;
}

.slogan-content {
	width: 1200px;
	margin: 0 auto;
	padding: 20px 30px;
	text-align: center;
}

.slogan-item {
	width: 20%;
	display: inline-block;
}

.slogan-item-title {
	display: block;
	font-size: 18px;
    line-height: 26px;
    margin-top: 3px;
	color: #535353;
}

.slogan-item-content {
	display: block;
	font-size: 14px;
    line-height: 20px;
    margin-top: 3px;
	color: #828282;
}

/* 系列 */
.series-box {
	margin-top: 10px;
}

.series-box a {
	text-decoration: none;
	color: #fff;
}

.series-content {
	width: 1200px;
	margin: 0 auto;
	background: #fff;
	padding: 30px 30px 0 30px;
}

.series-title {
	color: #828282;
	padding: 10px 0 25px 0;
	font-size: 26px;
	line-height: 26px;
}

.series-more {
	float: right;
	margin-top: 7px;
	font-size: 13px;
	margin-right: 30px;
}

.series-more  a:hover{
	color: #ffbe40;
}

.series-subtitle {
	color: #989898;
	padding: 10px 0 25px 0;
	font-size: 14px;
	line-height: 26px;
	margin-left: 20px;
}

.series-item-content {
	background: #fff;
}

.series-item {
	width: 270px;
	height: 400px;
	display: inline-block;
	margin: 0 13px 40px 13px;
	overflow: hidden;
	position: relative;
}

.series-item:hover .series-info {
	top: 0%;
}

.series-item:hover img {
	transform: scale(1.1);
	-webkit-transform: scale(1.05);
}

.series-item img {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	-webkit-transition: all .5s;
	transition: all .5s
}

.series-item-font {
	font-size: 13px;
	text-align: center;
	padding: 15px 5px 10px 5px;
	color: #555;
}

.series-info {
	position: absolute;
    width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
    text-align: center;
    color: #fff;
}

.series-info .font {
	position: relative;
	top: 45%;
}

.series-info  a {
	color: #fff;
	text-decoration: none;
}

.series-info .info{
	margin: 60% 0;
	color: #fff;
}

.series-info .info .title{
	margin-bottom: 5px;
}

.series-info .font  .desc {
	margin-bottom: 5px;
}

.series-info .collect {
	position: absolute;
	width: 30px;
	height: 30px;
	float: right;
	right: 10px;
	top: 10px;
	z-index: 99;
}

.series-info .collect i {
	background: url('../img/collect.png') no-repeat 0 0;
	display: inline-block;
	position: relative;
	background-size: 30px 60px;
	height: 100%;
	width: 100%;
}

.series-info .collect:hover i {
	background-position: 0 -30px;
}

.collect-logo-hover {
	background-position: 0 -30px !important;
}

/* 左侧锚点 */
.left-navigation-box {
	position: fixed;
	left: 2%;
	top: 50%;
	width: 70px;
	box-shadow: 2px 0 3px rgba(0,0,0,0.1);
	background: #fff;
	z-index: 300;
}

.left-navigation-item {
	text-align: center;
	padding: 15px;
	color: #888;
	font-size: 14px;
    cursor: pointer;
}

.left-navigation-item:hover {
	transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
	color: #fff;
	background: #ffbe40;
}

.left_current {
	transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
	color: #fff;
	background: #ffbe40;
}

/* 底部 */
.footer-box {
	border-top: 4px solid #ffbe40;
	background-color: #f1f1f1;
    padding: 50px 0 20px;
	margin-top: 90px;
}

.footer-content {
	width: 65%;
	margin: 0 auto;
	height: 230px;
	border-bottom: 1px solid #ccc;
}

.footer-item-content {
	display: inline-block;
	vertical-align: top;
}

.footer-item-title {
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 14px;
	padding: 5px;
	color: #666;
}

.footer-item-info {
	font-size: 12px;
	padding: 5px;
	color: #666;
}

/* 专题列表页 */
.image-series-box {
	
}

.image-series-title {
	width: 1200px;
	margin: 0 auto;
	font-size: 25px;
	color: #666;
	font-family: 'Microsoft YaHei';
	text-align: center;
	padding: 30px 0 0 0;
}

.image-series-info {
	text-align: center;
	color: #888;
	width: 600px;
	margin: 0 auto;
	font-size: 12px;
	padding: 20px 0 30px 0;
}

.image-series-info span {
	padding: 0 10px;
}

.image-series-desc {
	color: #666;
	font-size: 13px;
	width: 1100px;
	margin: 0 auto;
	padding: 0 30px 40px 30px;
}

.image-series-content {
	width: 1200px;
	margin: 0 auto;
	padding: 0 30px 20px 30px;
}

.series-item-title {
	text-align: center;
	padding: 10px;
}

.sitem {
	z-index: 1;
    line-height: 1.5;
    background-color: #fff;
	position: relative;
    overflow: hidden;
	float: left !important;
    box-shadow: 0 5px 5px rgba(34, 25, 25, .4);
    -moz-box-shadow: 0 5px 5px rgba(34, 25, 25, .4);
    -webkit-box-shadow: 0 5px 5px rgba(34, 25, 25, .4);
    filter: progid:DXImageTransform.Microsoft.Shadow(color = #adacac, direction = 135, strength = 2);
	margin: 0 15px 45px;
	width: 270px;
	max-height: 400px;
}

.sitem img {
    display: inline;
	width: 100%;
    min-height: 200px;
}

.sitem-info {
	z-index: 5;
    height: 350px;
	line-height: 20px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,.4);
    text-indent: 21px;
    color: #fff;
    font-size: 12px;
    transition: all .2s;
}

.sitem-border {
	box-shadow: 0 5px 5px rgba(34, 25, 25, .4);
    -moz-box-shadow: 0 5px 5px rgba(34, 25, 25, .4);
    -webkit-box-shadow: 0 5px 5px rgba(34, 25, 25, .4);
    filter: progid:DXImageTransform.Microsoft.Shadow(color = #adacac, direction = 135, strength = 2);
}

/* paging插件 */
.page_div {
	height: 30px;
	font-size: 16px;
	font-family: "microsoft yahei";
	color: #666666;
	padding-left: 20px;
	box-sizing: border-box;
}

.page_div a {
	min-width: 35px;
	height: 35px;
	border: 1px solid #ffbe40!important;
	border-radius :10%;
	text-align: center;
	margin: 0 4px;
	cursor: pointer;
	line-height: 35px;
	color: #ffbe40;
	font-size: 14px;
	display: inline-block;
}

.page_div a:hover {
	color: #fff;
	background-color: #ffbe40;
	border: 1px solid #ffbe40!important;
}

#firstPage,
#lastPage {
	width: 50px;
	color: #ffbe40;
	border: 1px solid #ffbe40!important;
	border-radius :10%;
}

#firstPage:hover, #lastPage:hover{
	color: #fff;
	background-color: #ffbe40;
	border: 1px solid #ffbe40!important;
}

#prePage,
#nextPage {
	width: 70px;
	color: #ffbe40;
	border: 1px solid #ffbe40!important;
	border-radius :10%;
}

#prePage:hover,
#nextPage:hover {
	color: #fff;
	background-color: #ffbe40;
	border: 1px solid #ffbe40!important;
}

.page_div .current {
	background-color: #ffbe40;
	color: #FFFFFF;
}

.totalPages {
	margin: 0 10px;
}

.totalPages span,
.totalSize span {
	color: #ffbe40;
	margin: 0 5px;
}


/* 专题页 */

.image-list-title {
	width: 1200px;
	margin: 0 auto;
	font-size: 25px;
	color: #666;
	font-family: 'Microsoft YaHei';
	text-align: center;
	padding: 0px;
}

.image-series-collect {
	display: inline-block;
    position: absolute;
    color: #fff;
    padding: 3px 7px;
    border: 1px soid #ffbe40;
    background: #ffbe40;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 3px;
    font-size: 16px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

.image-series-collect:hover {
	border: 1px soid #00FA9A;
	background: #00FA9A;
}

.image-series-collect-hover {
	display: inline-block;
    position: absolute;
    color: #fff;
    padding: 3px 7px;
    border: 1px soid #00FA9A;
    background: #00FA9A;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 3px;
    font-size: 16px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

.image-list-info {
	text-align: center;
	color: #888;
	width: 600px;
	margin: 0 auto;
	font-size: 12px;
	padding: 20px 0 30px 0;
}

.image-list-info span {
	padding: 0 10px;
}

.image-list-desc {
	color: #666;
	font-size: 15px;
	line-height: 25px;
	width: 1200px;
	margin: 0 auto;
	padding: 0 30px 40px 30px;
}

.image-list-content {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px 20px 0;
}

.image-item-title {
	text-align: center;
	padding: 10px;
}

.image-item-content {
	background: #fff;
}

.image-item {
	width: 270px;
	margin: 0 13px 40px 13px;
	overflow: hidden;
	float: left;
	position: relative;
	-moz-box-shadow: -2px 20px 20px rgba(0,0,0,0.4);
    -webkit-box-shadow: -2px 20px 20px rgba(0,0,0,0.4);
    -ms-box-shadow: -2px 20px 20px rgba(0,0,0,0.4);
    box-shadow: -2px 20px 20px rgba(0,0,0,0.4);
    -ms-transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
	max-height: 400px;
}

.image-item:hover img {
	transform: scale(1.1);
	-webkit-transform: scale(1.05);
}

.image-item img {
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transition: all .5s;
	transition: all .5s
}

.image-item:hover .image-item-download{
	top: 0%;
}

.image-item-hover {
	margin: 0 auto;
	width: 100%;
	height: 100%;
    position: absolute;
    overflow: hidden;
	background: rgba(0,0,0,.4);
	text-align: center;
}

.image-item:hover .image-item-hover {
    top: 0%;
}

.image-item-hover .name-view {
    top: 45%;
    display: inline-block;
    position: relative;
	color: #fff;
	margin: 0 auto;
	font-size: 18px;
}

.image-item-hover .view {
	float: left;
    margin-left: 15%;
    top: 45%;
    display: inline-block;
    position: relative;
}

.image-item-hover .download {
	float: right;
    margin-right: 15%;
    top: 45%;
    display: inline-block;
    position: relative;
}

.image-item-hover a {
	color: #fff;
	text-decoration: none;
}

/* 图片详情页 */
.image-detail-box {
	margin-top: 50px;
}

.image-detail-content {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.image-main-content {
	position: relative;
	display: inline-block;
	width: 800px;
	min-height: 500px;
	padding: 20px;
	background-color: #fff;
	float: left;
	text-align: center;
}

.image-main-content img {
	width: 50%;
	padding: 20% 0;
}

.image-sider-content {
	position: relative;
	display: inline-block;
	width: 300px;
	padding: 20px;
	background-color: #fff;
	float: right;
	margin-bottom: 25px;
}

.image-operation {
	width: 100%;
}

.download-png {
	background-color: #4e9fef;
	width: 100%;
	line-height: 45px;
	border-radius: 3px;
	padding: 8 10px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: block;
	margin-bottom: 20px;
	border: none;
}

.download-png:hover {
	opacity: .8;
    filter: alpha(opacity=80);
}

.download-source {
	background-color: #50ae55;
	width: 100%;
	line-height: 45px;
	border-radius: 3px;
	padding: 8 10px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: block;
	margin-bottom: 20px;
	border: none;
}

.download-source:hover {
	opacity: .8;
    filter: alpha(opacity=80);
}

.download-collect {
	margin-top: 20px;
	background-color: #ffbe40;
	width: 100%;
	line-height: 45px;
	border-radius: 3px;
	padding: 8 10px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: block;
	margin-bottom: 20px;
	border: none;
	outline: none;
}

.download-collect:hover {
	opacity: .8;
    filter: alpha(opacity=80);
}

.image-operation-info {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-size: 14px;
	color: #666;
	overflow: hidden;
	height: 60px;
	line-height: 60px;
}

.image-operation-info-download {
	float: left;
	margin-left: 10px;
}

.image-operation-info-view {
	float: right;
	margin-right: 10px;
}

.image-sider-info {
	font-size: 14px;
	color: #666;
	position: relative;
	display: inline-block;
	width: 300px;
	padding: 20px;
	background-color: #fff;
	float: right;
	margin-bottom: 25px;
}

.image-sider-info p {
	margin-bottom: 10px;
}

.image-sider-info span {
	color: #888;
	margin-left: 10px;
}

.image-tag-info {
	font-size: 14px;
	color: #666;
	position: relative;
	display: inline-block;
	width: 300px;
	padding: 20px;
	background-color: #fff;
	float: right;
}

.image-tag-info p {
	margin-bottom: 20px;
}

.image-tag-info span {
	font-size: 13px;
	margin-right: 5px;
}

.image-tag-info .span a{
	color: #ffbe40;
	border: 1px solid #ffbe40;
	padding: 5px 8px;
	border-radius: 5px;
	text-decoration: none;
	outline: none;   
}

.image-tag-info .span a:hover{
	color: #fff;
	border: 1px solid #ffbe40;
	background: #ffbe40;
}

.current-position {
	color: #888;
	font-size: 16px;
	width: 1200px;
    margin: 30px auto 20px;
}

.current-position a:hover {
	color: #ffbe40;
}

/* 登录页 */
.login-wrap {
    width: 400px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
	overflow: hidden;
	margin: 0 auto;
}

.login-wrap a{
	text-decoration: none;
	color: #666;
}

.login-hearder {
    color: #666;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    position: relative;
	height: 62px;
}

.login-wrap .login-others {
    text-align: center;
    padding-top: 50px;
    -webkit-transition: all .28s;
    transition: all .28s;
}

.login-others span {
	font-size: 14px;
}

.login-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(http://icon.qiantucdn.com/images/login/login_v6.png) -100px -168px no-repeat;
    height: 20px;
    width: 17px;
    cursor: pointer;
}

.login-wrap .account-box, .login-wrap .login-box, .login-wrap .phone-box {
    display: block;
}

.login-wrap .login-footer {
    margin-top: 20px;
	border: 0;
}

.agreement-alert {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin: 30px 0;
}

.login-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
    z-index: 999;
    overflow: hidden;
}

.login-modal .modal-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.login-modal .modal-table-call {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.login-footer {
    border: 0;
    margin-top: 5px;
}

.login-footer a {
	font-size: 14px;
}

.login-wrap {
    text-align: center;
    color: #ffbe40;
}

.login-type {
	text-align: center;
    color: #666;
	font-size: 14px;
	height: 45px;
	line-height: 45px;
}

.login-type a{
	padding: 10px;
}

.login-logo {
    display: inline-block;
    width: 81px;
    padding: 0 15px;
    text-align: center;
}

.login-logo i {
    width: 82px;
    height: 82px;
    display: block;
    background: url(http://icon.qiantucdn.com/images/login/login_v6.png) no-repeat;
    margin-bottom: 20px;
}

.login-return-info, .register-return-info {
	font-size: 13px;
	color: #FF3030;
	margin-bottom: 15px;
	text-align: left;
}


.logo-qq i {
	background-position: 0 0;
}

.logo-qq:hover i {
	background-position: 0 -84px;
}

.logo-weixin i {
	background-position: -168px 0;
}

.logo-weixin:hover  i {
	background-position: -168px -84px;
}

.phone-login {
	background-color: Transparent; 
	border-style: none;
	outline: none;   
	color: #666;
	font-size: 14px;	
}

.phone-form-box {
	margin-top: 15px;
}

.phone-register {
	background-color: Transparent; 
	border-style: none;
	outline: none; 
	color: #666;
	font-size: 14px;	
}

.return-login {
	outline: none; 
	color: #666;
	font-size: 14px;	
	background-color: Transparent; 
	border-style: none;
}

.login-form {
	width: 300px;
    margin: 0 auto;
}

.login-input-item {
    margin-bottom: 15px;
    position: relative;
}

.login-input-item input{
	border: 1px solid #e3e3e3;
    border-radius: 4px;
    outline: 0;
	width: 260px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #ccc;
    padding-left: 40px;
}

.login-input-submit {
    height: 40px;
    line-height: 40px;
	background-color: #ffbe40;
	border-radius: 4px;
	color: #fff !important;
	width: 100%;
    display: block;
	-webkit-transition: all .5s;
    transition: all .5s;
	border: none;
	outline: none;
}

.login-input-submit:hover {
	background-color: #00FA9A;
	color: #fff !important;
}

.login-other-operation {
	margin: 30px 0;
	font-size: 14px;
}

.login-other-operation a {
	padding: 10px;
}

.input-icon {
	position: absolute;
	top: 10px;
	left: 15px;
}

/* 搜索页 */
.filter-image-list-box {
	width: 1200px;
	margin: 0 auto;
	font-size: 15px;
	color: #666;
	font-family: 'Microsoft YaHei';
	padding: 30px 0 0 0;
}

.filter_image_pannel {
	background-color: #fff;
	padding: 15px 20px;
	margin-bottom: 30px;
}

.filter-image-list-search {
	margin-bottom: 20px;
	font-weight: 700;
}

.filter-image-count {
	font-size: 14px;
	margin-left: 20px;
}

.filter-image-list-format {
	font-weight: 700;
	margin-bottom: 20px;
}

.filter-image-list-format span {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 100;
}

.filter-image-list-format a {
	text-decoration: none;
	color: #666;
}

.filter-image-list-format a:hover {
	color: #ffbe40;
}

.filter-image-list-format a:focus {
	outline:none;
	color: #ffbe40;
}

.filter-image-list-sort {
	font-weight: 700;
}

.filter-image-list-sort span {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 100;
}

.filter-image-list-sort a {
	text-decoration: none;
	color: #666;
}

.filter-image-list-sort a:hover {
	color: #ffbe40;
}

.filter-image-list-sort a:focus {
	outline:none;
	color: #ffbe40;
}

.filter-image-list-recommend {
	font-weight: 700;
	margin-bottom: 40px;
	font-size: 14px;
}

.filter-image-list-recommend span {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 100;
}

.filter-image-list-recommend a {
	text-decoration: none;
	border: 1px solid #ffbe40;
	color: #ffbe40;
	border-radius: 5%;
	padding: 5px 10px;;
}

.filter-image-list-recommend a:hover {
	color: #fff;
	background-color: #ffbe40;
}

.filter-image-list-recommend a:focus {
	outline:none;
	color: #fff;
	background-color: #ffbe40;
}

/* 验证邮箱 */
.auth-email-box {
	width: 1200px;
	margin: 30px auto;
	padding: 10px 20px;
	background-color: #fff;
} 

.auth-email-div {
	padding: 15px 0;
}

.auth-email-div p {
	font-size: 15px;
	color: #666;
	padding: 5px 0;
}

.auth-email-title {
	font-size: 18px;
	color: #ffbe40;
}

.auth-email-login {
	text-decoration: none;
	color: #ffbe40;
}

/* 用户页面 */
.user-page {
	width: 1200px;
	margin: 20px auto 20px;
	overflow: hidden;
}

.user-page .left-content {
	position: relative;
	display: inline-block;
	width: 12%;
	margin-right: 3%;
}

.user-page .left-content ul {
	width: 100%;
}

.user-page .left-content a {
	text-align: center;
	font-size: 15px;
	color: #888;
	padding: 10px 0;
	transition: box-shadow .2s,-webkit-box-shadow .2s;
	margin-bottom: 5px;
	display: block;
}

.user-page .left-content a i {
	margin-right: 8px;
}

.user-page .left-content a:hover {
	color: #FFF;
	background: #ffbe40;
	border: 1px soid #ffbe40;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
}

.user-page .right-content {
	background: #FFF;
	position: relative;
	display: inline-block;
	width: 83%;
	float: right;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right: 1%;
}

.user-page .right-content-collect {
	position: relative;
	display: inline-block;
	width: 83%;
	float: right;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right: 1%;
}

.user-info {
	padding: 15px;
	color: #888;
	font-size: 15px;
}

.user-info .title {
	margin-bottom: 30px;
	font-size:18px;
	color: #ffbe40;
}

.user-info .en-title {
	font-size: 12px;
	margin-left: 10px;
}

.user-info .item {
	width: 100%;
	padding: 5px 0;
}

.user-info .name {
	display: inline-block;
	width: 15%;
	margin-right: 2%;
	padding-bottom: 7px;
}

.user-info .name span {
	float: right;
}

.user-info .value {
	display: inline-block;
	width: 73%;
	padding-bottom: 7px;
}

.user-info .value span {
	float: left;
}

.user-info .input {
	display: inline-block;
	width: 73%;
}

.user-info .input span {
	float: left;
}

.user-active {
	color: #FFF !important;
	background: #ffbe40;
	border: 1px soid #ffbe40;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
}

.user-active i {
	color: #fff;
}

.change-user-info {
	color: #fff;
	padding: 5px 10px;
	width: 10%;
	margin: 30px auto 0;
	text-align: center;
	border: 1px soid #ffbe40;
	background: #ffbe40;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
	-webkit-transition: all .5s;
	transition: all .5s;
	cursor: pointer;
}

.change-user-info:hover {
	border: 1px soid #00FA9A;
	background: #00FA9A;
}

.auth-button {
	color: #fff;
	padding: 2px 3px;
	width: 10%;
	text-align: center;
	border: 1px soid #ffbe40;
	background: #ffbe40;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
	-webkit-transition: all .5s;
	transition: all .5s;
	cursor: pointer;
}

.auth-button a {
	color: #fff;
}

.auth-button:hover {
	border: 1px soid #00FA9A;
	background: #00FA9A;
}

.user-info input {
	font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    width: 100%;
    border: 1px solid #cccccc;
	outline:none;
}

.handler-user-info {
	margin: 30px auto 0;
	text-align: center;
}

.handler-user-info span {
	width: 10%;
	display: inline-block;
	color: #fff;
	padding: 5px 10px;
	border: 1px soid #ffbe40;
	background: #ffbe40;
	border-radius: 5px;
	margin-right: 20px;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
	-webkit-transition: all .5s;
	transition: all .5s;
	cursor: pointer;
}

.handler-user-info span:hover {
	border: 1px soid #00FA9A;
	background: #00FA9A;
}

/* 提示信息 */
.tip {
	position: fixed;
	background: #00FA9A;
	border: 1px soid #00FA9A;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
	padding: 15px 20px !important;
	height: auto !important;
	right: 2%;
	top: 70px;
	color: #fff;
	width: 15%;
	opacity: 0;
	overflow: hidden;
	z-index: 99;
}

.fail-tip {
	position: fixed;
	background: #FF3030;
	border: 1px soid #FF3030;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
	padding: 15px 20px !important;
	height: auto !important;
	right: 2%;
	top: 70px;
	color: #fff;
	width: 15%;
	opacity: 0;
	overflow: hidden;
	z-index: 99;
}

@keyframes tip {
	0%{transform: translateY(80px);opacity: 0;}  
	60%{ transform: translateY(0px);opacity: 0.75;}  
    100%{ transform: translateY(0px);opacity: 0;}  
}
 
@-webkit-keyframes tip {
	0%{transform: translateY(80px);opacity: 0;}  
    60%{ transform: translateY(0px);opacity: 0.75;}  
    100%{ transform: translateY(0px);opacity: 0;}  
}

.tip {
    animation: tip 3s;
    -webkit-animation: tip 3s;
}

.fail-tip {
    animation: tip 3s;
    -webkit-animation: tip 3s;
}

/* 发送验证邮箱 */
.auth-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
    z-index: 999;
    overflow: hidden;
}

.auth-modal .modal-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.auth-modal .modal-table-call {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.auth-wrap {
    width: 800px;
	margin: 0 auto;
    color: #ffbe40;
	border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
	overflow: hidden;
	margin: 0 auto;
}

.auth-hearder {
    color: #ffbe40;
    font-size: 20px;
    text-align: left;
    padding: 15px;
    position: relative;
}

.auth-content {
	padding: 10px 15px;
	color: #888;
}

.auth-content a {
	color: #ffbe40;
}

.auth-info {
	padding: 10px 15px;
	color: #FF3030;
}

.back-login {
	float: right;
	font-size: 14px;
	color: #888;
}

/* 兑换页面 */
.input_exchange_code {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 30px;
}

.input_exchange_code .e-title {
	position: relative;
	display: inline-block;
	width: 40%;
	margin-right: 2%;
	color: #888;
	line-height: 30px;
}

.input_exchange_code .e-value {
	position: relative;
	display: inline-block;
	width: 40%
}

.input_exchange_code .e-value input {
	width: 60%;
	margin-right: 5%;
}

.exchange_button {
	display: inline-block;
	outline: none;
	background: #ffbe40;
	color: #fff;
	padding: 5px 8px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.exchange_button:hover{
	background: #00FA9A;
}

/* 文章详情页 */
.article-content {
	width: 800px;
	margin: 0 auto;
	padding: 20px 20px 40px 20px;
	background-color: #fff;
	border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15), 0px 2px 4px 0px rgba(0,0,0,0.10);
    border: 1px solid rgba(165,170,184,0.10);
}

.article-content .header {
	margin-bottom: 30px;
	position: relative;
}

.article-content .header .title {
	font-size: 36px;
	color: #343434;
	line-height: 56px;
	margin-bottom: 20px;
}

.article-content .desc {
	position: relative;
	width: 80%;
	margin: 30px auto;
	padding: 25px 20px;
	font-size: 15px;
	color: #888;
	background: #f9f9f9;
	border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15), 0px 2px 4px 0px rgba(0,0,0,0.10);
    border: 1px solid rgba(165,170,184,0.10);
}

.article-content .content p {
	padding: 5px 0; 
	font-size: 16px;
	color: rgba(48,48,48,.9);
	line-height: 28px;
}

.article-content .content img {
	text-align: center;
    margin: 0 auto;
    display: block;
    padding: 10px 0;
}

.article-content .info {
	color: #666;
	font-size: 14px;
}

.article-content .info .portrait {
	display: inline-block;
	margin-right: 20px;
}

.article-content .info .date {
	display: inline-block;
}
