<!--sidebar start-->
	<aside>
		<div class="sidebar nav-collapse ">
			<!-- sidebar menu start-->
			<ul class="sidebar-menu nav-accordion">
				<h5 class="centered">{{ menu_title }}</h5>
				<li class="sub-menu" *ngFor="let menu of menu_list">
					<a href="javascript:;">
						<i [class]=" menu.icon_info "></i>
						<span>{{ menu.name }}</span>
					</a>
					<ul *ngIf="menu.sub_menus" class="sub">
						<li *ngFor="let sub_menu of menu.sub_menus">
							<a routerLink="{{module}}/{{ sub_menu.url }}" routerLinkActive="menu_selected">{{ sub_menu.name }}</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- sidebar menu end-->
		</div>
	</aside>
<!--sidebar end-->