<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>登陆</title>
		<link rel="stylesheet" href="/static/css/ddfullscreenslider.css">
		<link rel="stylesheet" href="/static/css/img-normalize.css" />
		<link rel="stylesheet" href="/static/css/img-set.css" />
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/font-awesome.css">
		
		<script src="/static/js/jquery-1.11.3.min.js"></script>
		<script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
		<script src="/static/js/modernizr.custom.js"></script>
		
	</head>
	<body>
		<div class="login-header">
			<div class="login-header-content">
				<div class="login-logo">
					<span>登陆</span>
				</div>
			</div>
		</div>
		<div class="login-content">
			<div class="login-background">
				<div class="login-block">
					<div class="login-form">
						<div class="login-form-header">
							<div>
								<div class="selected-border">登陆</div>
							</div>
							<div>
								<div>注册</div>
							</div>
						</div>
						<div class="login-form-content">
							<div class="common-login">
								<div>
									<p><img src="/static/img/qq.png" style="width: 100px; margin-bottom:10px;"></p>
									<p>传统登陆</p>
									<form method="post" action="/login">
										<input type="text" name="phone" value="">
										<button type="submit">登录</button>
									</form>
								</div>
							</div>
							<div class="weixin-login">
								<div>
									<p><img src="/static/img/weixin.png" style="width: 100px; margin-bottom:10px;"></p>
									<p>微信登陆</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>