<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>登陆</title>
		<link rel="stylesheet" href="/static/css/ddfullscreenslider.css">
		<link rel="stylesheet" href="/static/css/img-normalize.css" />
		<link rel="stylesheet" href="/static/css/img-set.css" />
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/font-awesome.css">
		
		<script src="/static/js/jquery-1.11.3.min.js"></script>
		<script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
		<script src="/static/js/modernizr.custom.js"></script>
		
	</head>
	<body>
		<div class="login-modal">
			<div class="mdoal-table">
				<div class="modal-table-call">
					<div class="login-wrap">
						<div class="login-hearder">
							登录
						</div>
						<div class="login-content">
							<div class="login-box">
								<div class="phone-form-box">
									<div class="login-form">
										<div class="login-input-item">
											<div class="input-icon"><i class="fa fa-user" ></i></div>
											<input id="login_phone" type="text" name="user" placeholder="请输入手机号/邮箱">
										</div>
										<div class="login-input-item">
											<div class="input-icon"><i class="fa fa-lock" ></i></div>
											<input id="login_passwd" type="password" name="password"  placeholder="请输入密码">
										</div>
										<div class="login-input-item login-captcha" style="display:none;">
											<input id="img-code2" type="text" name="captcha"  placeholder="图形验证码" maxlength="4" style="width: 188px;">
											<img alt="加载中..." id="img-captcha2" src="" style="margin-left: 10px;vertical-align: bottom; cursor:pointer;">
											<a onclick="$('#img-captcha2').click();" style="display:inline-block;width:20px;height:20px;vertical-align:middle;margin-left: 8px;cursor: pointer;background-image:url('#');"></a>
										</div>
										<div class="login-return-info" *ngIf="login_info"></div>
										<a href="javascript:;" class="login-input-submit">登陆</a>
										<p class="login-other-operation">
											<a href="#" class="fr">忘记密码</a>
											<a href="#" class="fr">立即注册</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="login-modal" style="display: none;">
			<div class="mdoal-table">
				<div class="modal-table-call">
					<div class="login-wrap">
						<div class="login-hearder">
							注册
						</div>
						<div class="login-content">
							<div class="login-register-box" style="display: none;">
								<div class="phone-form-box">
									<div class="login-form">
										<div class="login-input-item">
											<div class="input-icon"><i class="fa fa-envelope-o" ></i></div>
											<input id="register_phone" type="text" name="email"  placeholder="请输入邮箱">
										</div>
										<div class="login-input-item">
											<div class="input-icon"><i class="fa fa-user" ></i></div>
											<input id="register_name" type="text" name="name"  placeholder="请输入昵称">
										</div>
										<div class="login-input-item">
											<div class="input-icon"><i class="fa fa-lock" ></i></div>
											<input id="register_passwd" type="password" name="password" placeholder="请输入密码">
										</div>
										<div class="login-input-item">
											<div class="input-icon"><i class="fa fa-lock" ></i></div>
											<input id="verify_passwd" type="password" name="verify_password"  placeholder="请再次输入密码">
										</div>
										<div class="register-return-info" *ngIf="register_info"></div>
										<a href="javascript:;" class="login-input-submit">注册</a>
									</div>
								</div>
								<div class="agreement-alert">
									<a href="javascript:;" class="agreement-handle"></a>勾选代表你同意<a href="#" class="text" target="_blank">《注册声明》</a><a href="#" class="text" target="_blank">《版权声明》</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>